.imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.galleryItem {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    cursor: pointer;
}